@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Plus Jakarta Sans";
}

/*// <uniquifier>: Use a unique and descriptive class name*/
/*// <weight>: Use a value from 200 to 800*/

/*.plus-jakarta-sans-<uniquifier> {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/
